absl-py
appdirs
astor
certifi
chardet
coloredlogs
cycler
decorator
flatbuffers
gast
google-pasta
# graph-def-editor
graphsurgeon
grpcio
h5py
humanfriendly
idna
imageio
importlib-metadata
Keras-Applications
Keras-Preprocessing
kiwisolver
Mako
Markdown
MarkupSafe
matplotlib
mkl-fft
mkl-random
numpy
nvidia-cublas
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn
nvidia-pyindex
nvidia-tensorrt
olefile
onnx
onnx-simplifier
onnxoptimizer
onnxruntime
onnxruntime-gpu
onnxruntime-tools
opencv-contrib-python
opt-einsum
packaging
Pillow
protobuf
psutil
py-cpuinfo
py3nvml
pycuda
pyparsing
python-dateutil
pytools
requests
scipy
six
tensorboard
tensorflow
tensorflow-estimator
tensorflow-gpu
termcolor
tf2onnx
tornado
typing-extensions
uff
urllib3
webencodings
Werkzeug
wrapt
xmltodict
zipp

tensorboard==1.15.0 tensorboard-plugin-wit==1.8.0 tensorflow==1.15.3 tensorflow-estimator==1.15.2 tensorflow-gpu==1.15.3