google-pasta==0.2.0
graphsurgeon==0.4.6
grpcio==1.47.0
imageio==2.19.3
matplotlib==3.5.2
numpy==1.23.0
nvidia-cublas==11.5.1.101
nvidia-cublas-cu11==2022.4.8
nvidia-cublas-cu117==11.10.1.25
nvidia-cuda-nvrtc==11.3.58
nvidia-cuda-runtime==11.3.58
nvidia-cuda-runtime-cu11==2022.4.25
nvidia-cuda-runtime-cu117==11.7.60
nvidia-cudnn==8.2.0.51
nvidia-cudnn-cu11==2022.5.19
nvidia-cudnn-cu116==8.4.0.27
nvidia-tensorrt==8.4.1.5
onnx==1.12.0
onnx-simplifier==0.3.10
onnxoptimizer==0.2.7
onnxruntime==1.11.1
onnxruntime-gpu==1.11.1
onnxruntime-tools==1.7.0
opencv-contrib-python==4.6.0.66
protobuf==3.19.4
psutil==5.9.1
py-cpuinfo==8.0.0
pybind11==2.9.2
pycuda==2022.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytools==2022.1.11
scipy==1.8.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
termcolor==1.1.0
tf2onnx==1.11.1
uff==0.6.9
urllib3==1.25.8
