google-pasta==0.2.0
graphsurgeon==0.4.5
grpcio==1.32.0
imageio==2.9.0
matplotlib==3.3.4
numpy==1.19.2
nvidia-cublas==11.3.1.68
nvidia-cuda-nvrtc==11.1.105
nvidia-cuda-runtime==11.2.72
nvidia-cudnn==8.1.0.77
nvidia-tensorrt==7.2.2.3
onnx==1.8.1
onnx-simplifier==0.3.3
onnxoptimizer==0.2.4
onnxruntime==1.7.0
onnxruntime-gpu==1.7.0
onnxruntime-tools==1.6.0
opencv-contrib-python==4.5.1.48
protobuf==3.15.6
psutil==5.8.0
pybind11==2.6.2
py-cpuinfo==7.0.0
py3nvml==0.2.6
pycuda==2019.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytools==2021.2.1
scipy==1.5.4
tensorboard==2.4.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.0
termcolor==1.1.0
tf2onnx==1.8.4
uff==0.6.9
urllib3==1.26.4
